h1 {
	Color: red;
	text-align: center;
	text-decoration: underline;
	white-space: normal;
}
a {
	text-decoration: underline;
	
}
z {
	Color:red;
	text-align: justify;
}
c {
	Color: LawnGreen;
	text-align: justify;
}